#pagebody body, div, h1 {
    
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: brown;
}

.pagebody figure {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
}

.pagebody figcaption {
        background-color: rgb(110, 31, 104);
        color: white;
        font-style: normal;
        padding: 2px;
        text-align: center;
}
